<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.incongress.endorcrinemagazine">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.DetailsActivity" />
        <activity android:name=".activity.PastDetailsActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.FeedbackActivity" />
        <activity android:name=".activity.info.InfoEditLocationActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58ff0cc93eae257b3200186f" />

        <activity android:name=".activity.MyCollectionActivity" />
        <activity android:name=".activity.info.InfoEditHospitalActivity"></activity>
    </application>

</manifest>